<img src="https://tradingcomdados.com/images/logotipo/logotipo-trading-com-dados.svg" width="300" align="left"/>

# **Avaliação Individual 1 da Mentoria**

Você tem a missão de desenvolver os códigos faltantes de um CASE atrelado a dividendos.
Dentro da lista de ativos que será apresentada para você, queremos que desenvolva uma análise de quais os maiores pagadores de dividendos.

In [ ]:
#TASK 1 - Fazer o import das libs necessárias para análise (pandas, vectorbt e yfinance)

%pip #...

In [ ]:
# TASK 2 - fazer o import dos pacotes necessários e ja instalados

import #...

In [ ]:
tickers = ['ABEV3.SA', 'BBDC4.SA', 'ITUB4.SA','PETR4.SA', 'VALE3.SA', 'WEGE3.SA']

In [ ]:
dividendos = vbt.YFData.download(tickers,
                                 start='2012-01-01',
                                 end='2021-12-31'
                                 ).get('Dividends')

In [ ]:
# TASK 3 -  Trazer as primeiras linhas do DF de dividendos

In [ ]:
# TASK 4 - Quantas variáveis são quantitativas e quantas são qualitativas usando um método?

In [ ]:
#TASK 5 - Tem dado faltante?

Qual o total pago por ação para cada ativo nesses 10 anos avaliados (2012 a 2021)?<p>
OBS: Métrica não muito útil já que depende do preço gasto em uma ação

In [ ]:
# TASK 6 - Trazer a soma do total pago por ação e ordenação decrescente

symbol
VALE3.SA    28.042675
ITUB4.SA    10.002561
PETR4.SA     9.368585
BBDC4.SA     7.533571
ABEV3.SA     6.222420
WEGE3.SA     1.697137
dtype: float64

In [ ]:
# TASK 7 - Inserir uma coluna representando o "Ano" indicado pelo index usando strtime('%Y')

symbol,ABEV3.SA,BBDC4.SA,ITUB4.SA,PETR4.SA,VALE3.SA,WEGE3.SA,Ano
Date,,,,,,,
2012-01-02 02:00:00+00:00,0.0,0.0000,0.005464,0.0000,0.0,0.0,2012
2012-01-03 02:00:00+00:00,0.0,0.0057,0.000000,0.1773,0.0,0.0,2012
2012-01-04 02:00:00+00:00,0.0,0.0000,0.000000,0.0000,0.0,0.0,2012
2012-01-05 02:00:00+00:00,0.0,0.0000,0.000000,0.0000,0.0,0.0,2012
2012-01-06 02:00:00+00:00,0.0,0.0000,0.000000,0.0000,0.0,0.0,2012
...,...,...,...,...,...,...,...
2021-12-23 03:00:00+00:00,0.0,0.0000,0.000000,0.0000,0.0,0.0,2021
2021-12-27 03:00:00+00:00,0.0,0.0000,0.000000,0.0000,0.0,0.0,2021
2021-12-28 03:00:00+00:00,0.0,0.0000,0.000000,0.0000,0.0,0.0,2021
2021-12-29 03:00:00+00:00,0.0,0.0000,0.000000,0.0000,0.0,0.0,2021
2021-12-30 03:00:00+00:00,0.0,0.0000,0.000000,0.0000,0.0,0.0,2021

Usar uma pivot table para visualizar os valores pagos por ano

In [ ]:
# TASK 8 - use o método pd.pivot_table passando o df de dividendos com função de agregação de soma

tab_dinamica_dividendos = #...
tab_dinamica_dividendos

symbol  ABEV3.SA  BBDC4.SA  ITUB4.SA  PETR4.SA   VALE3.SA  WEGE3.SA
Ano
2012    0.476664  0.353056  0.523552  0.501700   2.261800  0.073076
2013    0.257176  0.336835  0.501785  0.386170   0.984650  0.100130
2014    0.593980  0.508545  0.536293  0.967200   1.889774  0.123241
2015    1.580000  0.652153  0.904846  0.000000   0.975371  0.150136
2016    0.640000  0.683637  1.063601  0.000000   0.166294  0.144652
2017    0.540000  0.706037  0.999266  0.000000   1.325484  0.137596
2018    0.550000  0.715273  1.970600  0.916563   1.968873  0.157902
2019    0.490600  2.060271  1.815860  0.942361   1.414364  0.170210
2020    0.413700  0.573779  0.780060  0.001359   2.407510  0.217194
2021    0.680300  0.943985  0.906698  5.653232  14.648555  0.423000

A classificação de dividendos depende não apenas do valor nominal pago, mas do preço de cada ação naquele momento.

In [ ]:
# TASK 9 - Buscar as cotações de todos os dias. Intervalos maiores podem gerar erros e NaN. Usar a yfinance

ticker_open = yf.download(tickers, start='2012-01-01', end='2022-01-01', interval='1d')['Open']

[*********************100%***********************]  6 of 6 completed

In [ ]:
# TASK 10 - Inserir uma coluna representando o "Ano" indicado pelo index

ticker_open['Ano'] = #...
ticker_open

,ABEV3.SA,BBDC4.SA,ITUB4.SA,PETR4.SA,VALE3.SA,WEGE3.SA,Ano
Date,,,,,,,
2012-01-02,10.890463,11.047153,15.581813,21.510000,39.770000,2.816568,2012
2012-01-03,10.892461,10.975881,15.518065,21.830000,41.150002,2.775147,2012
2012-01-04,10.716583,11.114862,15.750290,22.180000,42.189999,2.825443,2012
2012-01-05,10.362828,11.047153,15.732076,22.389999,42.509998,2.810650,2012
2012-01-06,10.288879,11.186134,15.845912,22.469999,42.299999,2.893491,2012
...,...,...,...,...,...,...,...
2021-12-23,15.400000,17.500000,21.330000,28.330000,79.949997,33.889999,2021
2021-12-27,15.550000,17.618181,21.480000,28.320000,78.870003,33.470001,2021
2021-12-28,15.540000,17.736362,21.629999,29.010000,78.510002,33.209999,2021
2021-12-29,15.550000,17.681818,21.530001,28.700001,76.379997,33.400002,2021
2021-12-30,15.580000,17.627272,21.440001,28.549999,77.989998,32.919998,2021

In [ ]:
# TASK 11 - Tabela dinâmica pegando apenas o primeiro valor observado de cada ano (algo similar a remover duplicatas duplicatas)

tab_dinamica_open = #...
tab_dinamica_open

       ABEV3.SA   BBDC4.SA   ITUB4.SA   PETR4.SA   VALE3.SA   WEGE3.SA
Ano
2012  10.890463  11.047153  15.581813  21.510000  39.770000   2.816568
2013  16.980267  12.764808  15.481638  19.990000  43.000000   4.032544
2014  17.298409  11.383557  15.797645  17.150000  35.910000   4.621301
2015  16.139999  13.621853  18.870523   9.990000  21.700001   5.923076
2016  17.730000   8.946911  15.709090   6.570000  12.490000   5.715384
2017  16.340000  14.886588  22.299999  14.640000  25.280001   5.923076
2018  21.330000  19.380507  28.533333  16.190001  40.439999   9.365384
2019  15.400000  24.198597  35.439999  22.549999  50.009998   8.810000
2020  18.860001  27.445530  37.279999  30.510000  53.980000  17.450001
2021  15.790000  22.752066  31.980000  28.650000  89.349998  37.924999

Agora que temos a soma dividendos e preço de abertura, usamos a fórmula do Dividend Yield (DY) para cada ano. Relembrando...

Dividend Yield (DY %) = Dividendos por ação / Preço da ação * 100

OBS: Utilizamos a soma dos dividendos e JCP entre janeiro e dezembro de cada ano por ação, dividido pelo preço de abertura da no primeiro dia de pregão do respectivo ano

In [ ]:
# TASK 12 - Como as duas tabelas estão simétricas, posso simplesmente dividir uma pela outra

tabela_DY_anual = #...
tabela_DY_anual

symbol  ABEV3.SA  BBDC4.SA  ITUB4.SA   PETR4.SA   VALE3.SA  WEGE3.SA
Ano
2012    4.376894  3.195900  3.360020   2.332404   5.687201  2.594505
2013    1.514558  2.638778  3.241162   1.931816   2.289884  2.483048
2014    3.433726  4.467365  3.394766   5.639650   5.262529  2.666803
2015    9.789344  4.787550  4.795023   0.000000   4.494797  2.534764
2016    3.609701  7.641040  6.770609   0.000000   1.331417  2.530924
2017    3.304774  4.742772  4.481014   0.000000   5.243212  2.323050
2018    2.578528  3.690683  6.906309   5.661291   4.868628  1.686017
2019    3.185714  8.514010  5.123759   4.178985   2.828162  1.932009
2020    2.193531  2.090610  2.092436   0.004454   4.460004  1.244665
2021    4.308423  4.149008  2.835203  19.732049  16.394578  1.115359

Podemos transpor o dataframe e classificar para um ano desejado

In [ ]:
# TASK 13 - Fazer o transposto da tabela de DY anual e ordenar os valores pelo ano de 2021

Ano,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
symbol,,,,,,,,,,
PETR4.SA,2.332404,1.931816,5.639650,0.000000,0.000000,0.000000,5.661291,4.178985,0.004454,19.732049
VALE3.SA,5.687201,2.289884,5.262529,4.494797,1.331417,5.243212,4.868628,2.828162,4.460004,16.394578
ABEV3.SA,4.376894,1.514558,3.433726,9.789344,3.609701,3.304774,2.578528,3.185714,2.193531,4.308423
BBDC4.SA,3.195900,2.638778,4.467365,4.787550,7.641040,4.742772,3.690683,8.514010,2.090610,4.149008
ITUB4.SA,3.360020,3.241162,3.394766,4.795023,6.770609,4.481014,6.906309,5.123759,2.092436,2.835203
WEGE3.SA,2.594505,2.483048,2.666803,2.534764,2.530924,2.323050,1.686017,1.932009,1.244665,1.115359

In [ ]:
# TASK 14 - Trazer o valor acumulado dos dividendos ao longo desses anos, usar um metodo de soma cumulativa

symbol   ABEV3.SA   BBDC4.SA   ITUB4.SA   PETR4.SA   VALE3.SA   WEGE3.SA
Ano
2012     4.376894   3.195900   3.360020   2.332404   5.687201   2.594505
2013     5.891452   5.834679   6.601182   4.264219   7.977085   5.077553
2014     9.325178  10.302043   9.995948   9.903870  13.239614   7.744356
2015    19.114522  15.089593  14.790971   9.903870  17.734411  10.279120
2016    22.724223  22.730633  21.561579   9.903870  19.065828  12.810044
2017    26.028997  27.473405  26.042593   9.903870  24.309040  15.133093
2018    28.607524  31.164088  32.948902  15.565160  29.177668  16.819111
2019    31.793239  39.678098  38.072660  19.744145  32.005830  18.751120
2020    33.986770  41.768708  40.165096  19.748599  36.465834  19.995784
2021    38.295193  45.917716  43.000299  39.480648  52.860411  21.111144